@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Inter, system-ui, Arial, sans-serif;
    color: #F5F6F8;
    background-color: #0B0E14;
    min-width: 320px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
